<div class="bio-item trait-size pf-container">
        <label class="pf-title">{{localize "PF2E.Size"}}</label>
        <select class="pf-value pf-small pf-width-100" name="data.traits.size.value" data-dtype="{{data.traits.size.type}}">
            {{#select data.traits.size.value}}
            {{#each actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.Senses"}}</label>
    <span class="bio-class pf-value pf-small" title="{{localize "PF2E.SensesTitle"}}">
        <input type="text" name="data.traits.senses.value" data-dtype="{{data.traits.senses.type}}"
            value="{{data.traits.senses.value}}" placeholder="None"/>
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title" for="data.traits.languages">
        {{localize "PF2E.Languages"}}
        <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value">
    {{#each data.traits.languages.selected as |v k|}}
        <span class="tag {{k}}">{{v}}</span>
    {{/each}}
    </ul>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.Speed"}}</label>
    <span class="bio-class pf-value pf-small" title="{{localize "PF2E.SpeedTitle"}}">
        <input type="text" name="data.attributes.speed.value" data-dtype="{{data.attributes.speed.type}}"
            value="{{data.attributes.speed.value}}" placeholder="None"/>
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.SpeedTypes"}}</label>
    <span class="bio-class pf-value pf-small" title="{{localize "PF2E.SpeedTypesTitle"}}">
        <input type="text" name="data.attributes.speed.special" data-dtype="{{data.attributes.speed.type}}"
            value="{{data.attributes.speed.special}}" placeholder="None"/>
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.KeyAbility"}}</label>
    <select class="pf-value pf-small pf-width-100" name="data.details.keyability.value" data-dtype="{{data.details.keyability.type}}">
        {{#select data.details.keyability.value}}
            {{#each abilities as |label ability|}}
                <option value="{{ability}}">{{label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.AncestryHP"}}</label>
    <span class="bio-class pf-value pf-small">
        <input type="text" name="data.attributes.ancestryhp" data-dtype="Number"
            value="{{data.attributes.ancestryhp}}" placeholder="0" />
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title">{{localize "PF2E.ClassHP"}}</label>
    <span class="bio-class pf-value pf-small">
        <input type="text" name="data.attributes.classhp" data-dtype="Number"
            value="{{data.attributes.classhp}}" placeholder="0" />
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label class="pf-title" title="{{localize 'PF2E.BonusHPperLevelTitle'}}">{{localize "PF2E.BonusHPperLevel"}}</label>
    <span class="bio-class pf-value pf-small" title="{{localize 'PF2E.BonusHPperLevelTitle'}}">
        <input type="text" name="data.attributes.levelbonushp" data-dtype="Number"
            value="{{data.attributes.levelbonushp}}" placeholder="0" />
    </span>
</div>

<div class="bio-item form-group-stacked pf-container">
    <label title="{{localize 'PF2E.FlatBonusSP'}}" class="pf-title">{{localize "PF2E.FlatBonusHP"}}</label>
    <span class="bio-class pf-value pf-small">
        <input type="text" name="data.attributes.flatbonushp" data-dtype="Number"
            value="{{data.attributes.flatbonushp}}" placeholder="0" />
    </span>
</div>

{{#if_stamina}}
    <div class="bio-item form-group-stacked pf-container">
        <label title="{{localize 'PF2E.BonusSPperLevelTitle'}}" class="pf-title">{{localize "PF2E.BonusSPperLevel"}}</label>
        <span class="bio-class pf-value pf-small">
            <input type="text" name="data.attributes.levelbonussp" data-dtype="Number"
                value="{{data.attributes.levelbonussp}}" placeholder="0" />
        </span>
    </div>
    <div class="bio-item form-group-stacked pf-container">
        <label title="{{localize 'PF2E.FlatBonusSPTitle'}}" class="pf-title">{{localize "PF2E.FlatBonusSP"}}</label>
        <span class="bio-class pf-value pf-small">
            <input type="text" name="data.attributes.flatbonussp" data-dtype="Number"
                value="{{data.attributes.flatbonussp}}" placeholder="0" />
        </span>
    </div>
{{/if_stamina}}

<div class="bio-item form-group-stacked pf-container">
    <label title="{{localize 'PF2E.BonusBulkTitle'}}" class="pf-title">{{localize "PF2E.BonusBulk"}}</label>
    <span class="bio-class pf-value pf-small">
        <input type="text" name="data.attributes.bonusbulk" data-dtype="Number"
            value="{{data.attributes.bonusbulk}}" placeholder="0" />
    </span>
</div>

