<h3 class="hp-title pf-heading">{{localize "PF2E.HitPointsHeader"}}</h3>
<ol class="hp-list">
  <li class="li-three-grid">
    <div class="hp-temp pf-container">
      <h4 class="hp-temp pf-title">{{localize "PF2E.TempHitPointsShortLabel"}}</h4>
      <span class="hp-temp pf-value pf-large" title="{{localize "PF2E.TempHPTitle"}}">
        <input name="data.attributes.hp.temp" type="text" value="{{data.attributes.hp.temp}}"
                                                          data-dtype="Number" placeholder="0"/>
      </span>
    </div>
    <div class="hp-current pf-container">
      <h4 class="hp-current pf-title" style="font-size: 12px">{{localize "PF2E.CurrentHitPointsShortLabel"}}</h4>
      <span class="hp-current pf-value pf-large" title="{{localize "PF2E.CurrentHPTitle"}}">
        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                                           data-dtype="Number" placeholder="10"/>
      </span>
    </div>
    <div class="hp-max pf-container">
      <h4 class="hp-max pf-title">{{localize "PF2E.MaxHitPointsShortLabel"}}</h4>
      <span class="hp-max pf-value pf-large" title="{{localize "PF2E.MaxHPTitle"}}">
        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                                         data-dtype="Number" placeholder="10" readonly>
      </span>
    </div>
  </li>
  <li class="li-four-grid" style="grid:'one two three' 32px/33% 33% 33%;">
    <div class="defense-container pf-justify-center" style="{{data.attributes.dying.containerWidth}}">
      <h4 class="defense-item pf-title recoveryCheck rollable" title="{{localize "PF2E.Recovery.roll"}}">{{localize "PF2E.Dying.label"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.Dying.title"}}" style="border-right: 0px; border-left: 0px;">
        <input type="hidden" name="data.attributes.dying.value" value="{{data.attributes.dying.value}}" data-dtype="Number"/>
        <span class="proficiency-rank dying-click pf-value" style="height: 15px;">{{{data.attributes.dying.icon}}}</span>
      </span>
    </div>
    <div class="defense-container pf-justify-center" style="width: 58px;">
      <h4 class="defense-item pf-title">{{localize "PF2E.WoundsLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.WoundsTitle"}}" style="border-right: 0px; border-left: 0px;">
        <input type="hidden" name="data.attributes.wounded.value" data-max="{{data.attributes.wounded.calculatedMax}}" value="{{data.attributes.wounded.value}}" data-dtype="Number"/>
        <span class="proficiency-rank click-stat-level pf-value" title="{{localize "PF2E.WoundsTitle"}}" style="height: 15px;">{{{data.attributes.wounded.icon}}}</span>
      </span>
    </div>
    <div class="defense-container pf-justify-center" style="width: 58px;">
      <h4 class="defense-item pf-title">{{localize "PF2E.DoomedLabel"}}</h4>
      <span class="defense-item-value pf-value pf-small" title="{{localize "PF2E.DoomedTitle"}}" style="border-right: 0px; border-left: 0px;">
        <input type="hidden" name="data.attributes.doomed.value" data-max="3" value="{{data.attributes.doomed.value}}" data-dtype="Number"/>
        <span class="proficiency-rank click-stat-level pf-value" title="{{localize "PF2E.DoomedTitle"}}" style="height: 15px;">{{{data.attributes.doomed.icon}}}</span>
      </span>
    </div>
  </li>

</ol>
