<h4 class="sidebar-summary">{{localize "PF2E.EquipmentSummary"}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.LevelLabel"}}</label>
        <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="{{data.level.type}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String">
            {{#select data.weight.value}}
            <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
            {{#each bulkTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
    </div>
</div>

<!-- <ol class="item-tags">
    {{#if data.armor.value}}<li class="tag">Armor Class {{data.armor.value}}</li>{{/if}}
    <li class="tag">{{lookup armorTypes data.armorType.value}}</li>
    {{#if data.strength.value}}<li class="tag">Requires {{data.strength.value}} Strength</li>{{/if}}
    {{#if data.stealth.value}}<li class="tag">Stealth Disadvantage</li>{{/if}}
</ol> -->

<ol class="item-tags">
    {{#if data.equipped.value}}
    <li class="tag">{{localize "PF2E.EquipmentEquippedLabel"}}</li>
    {{/if}}

</ol>
